// default : mobile bo'ladi

@mixin mobile-large {
  // 640px - 999px;
  @media (min-width: 640px) {
    @content;
  }
}

@mixin tablet {
  // 1000px - 1239px
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin desktop {
  // 1240px --- .......
  @media (min-width: 1240px) {
    @content;
  }
}

@media (max-width: 640px) {
  .women {
    display: none;
  }
  .chiziq_new,
  .tepa,
  .chiziq {
    display: none;
  }
}

@media (max-width: 320px) {
  .upper_part {
    margin-top: 40px;
  }
  .middle_part {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  h2,
  h1,
  p {
    font-size: 20px;
  }
}
