.container {
  max-width: 100%;
  padding: 0 $container-padding;
  margin: 0 auto;
}

@include mobile-large {
  .container {
    max-width: 600px;
    .imgcard-f {
      padding: 0 10px;
      img {
        width: 233px;
        height: 183px;
      }
    }
  }
}

@include tablet {
  .container {
    max-width: 960px;
  }
}

@include desktop {
  .container {
    max-width: 1200px;
  }
}
